h1 {
    font-family: "Parisienne", cursive ;
    font-weight: 900;
    text-align: center;
    font-size: 6vh; 
    color: rgb(88, 27, 107);   
}
h2{
    text-align: center;
    padding-bottom: 2vh;
}
h3, h2{
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4vh;
}
.text-autora{
    margin: 5% 10%;
    padding-bottom: 3%;
    text-align: justify;
}
.autora{
    float: left;
    width: 20%;
    margin-right: 3%;

}
p{
    font-size: 2vh;
}
p, th,td{ 
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

table{
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 7vh;
}
th{
font-size: 2vh;
}
.foto-protagonista{
    width: 250px;
    height: 350px;
    padding-top: 6%;
}
.portada-libros{
    width: 250px;
    padding: 4% 0;
}
.botones-libros{
    display: flex;
    flex-direction: column;
    
}
.botones-libros button{

    margin-top: 15px;
}
.boton-amazon,.boton-mercado{
    padding: 5px 0px;
}
.boton-amazon:hover, .boton-mercado:hover{
color: aliceblue;
cursor: pointer;
font-weight: 700;
}
.boton-amazon:hover{
    background-color: rgb(255 153 0);
}
.boton-mercado:hover{
    background-color: rgb(238 209 48);
}
/*pagina el duque y yo*/
.sipnosis-libro{
    margin: 5% 10%;
    padding-bottom: 3%;
    text-align: justify;
}
.portada-serie{
    float: left;
    width: 35%;
    margin: 1% 5%;
}
.sipnosis-libro img{
    padding-top: 30px;
}
.contenedor-back, .contenedor-contacto{
    display: block;
    padding-left: 50%;
    padding-bottom: 5%;
}
.back,.contacto{
    font-size: 4vh;
}
/*Pagina contacto*/
.menu{
    display: flex;
    margin: 2%;
    justify-content: center;
}
.menu li {
    margin: 0 5%;
    font-family: "Ubuntu", serif;
    font-size: 3vh;
}
/*Pagina de Contacto*/
form{
    margin-left: 30%;
}
.mensaje-contacto,.politicas,.horario,.pais,.email,.nombre,.enviar{
    font-family: "Ubuntu", serif;
    margin-bottom: 2%;
    font-size: 2vh;
}

.mensaje-contacto{
    
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
    width: 40%;
}
.mensaje-contacto label{
    padding-bottom: 2%;
}
